<h1>soramameenの公式サイト</h1>

<p>どうも、soramameenです。私の経歴や読んできた書籍などを紹介していきます。
    <br>
    このサイトは、Rails, Docker, Nginx, VPSで作成しています。Paasを使わずに運用することを目標として作成しています。
    <br>
    今後、読書メモや簡単に作ったものなども載せていく予定です。
</p>
<h2>経歴</h2>
  <ul>
    <li>2023年：大学入学</li>
    <li>2024年夏：初めてのハッカソンに出場</li>
    <li>2024年冬：Web開発を始める。4つのwebアプリを作成。</li>
    <li>2025年6月~9月:東京のSaas企業でフルタイムインターン</li>
    <li>2025年10月: ECの企業でリモートでインターン</li>
  </ul>
<h2>現在のやっていること・やりたいこと</h2>
<ul>
    <li>Ruby, Ruby on Railsの深い理解</li>
    <li>低レイヤーでのプログラムが動く仕組み</li>
    <li>vercelやheroku,netlifyなどを使わないデプロイ</li>
    <li>自作OS</li>
    <li>コンパイラ</li>
</ul>
今は、今すぐに必要にならないようなことをじっくり学びたい。

<h2>積読本</h2>
<ul>
    <li>安全なWebアプリケーションの作り方</li>
    <li>ソフトウェアアーキテクチャの基礎</li>
    <li>Binary Hacks Rebooted</li>
    <li>パーフェクトRuby on Rails</li>
    <li>メタプログラミングRuby</li>
    <li>ゼロからのOS自作入門</li>
    <li>達人に学ぶDB設計</li>
</ul>

<h2>よかった本</h2>
<ul>
    <li>linuxの仕組み</li>
    <li>プロを目指す人のためのTypeScript入門</li>
    <li>Ruby で作るRuby</li>
    <li>システム設計面接試験</li>
</ul>


